@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* font-family: "Inter", sans-serif; */

@import url('https://fonts.cdnfonts.com/css/miama');
/* font-family: 'Miama', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-color: rgb(255, 255, 255);
    --paragraph-color: rgba(255, 255, 255, 0.5);
}

body {
    font-family: "Inter", sans-serif;
    max-width: 90rem;
    margin: 0 auto;
}

button {
    border-radius: 2.625rem;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    border: none;

    color: var(--heading-color);
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
}

/* header section start hear */
header {
    height: 44.688rem;
    margin: 0 auto;
    background: linear-gradient(100.00deg, rgb(17, 17, 17), rgba(20, 20, 20, 0.904) 100%);

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3.656rem;
    width: 80%;
    margin: 0 auto;
}

#bar {
    display: none;
    color: var(--heading-color);
}

.nav-ul {
    display: flex;
}

.nav-ul .text {
    display: flex;
    gap: 2.938rem;
    width: 29.063rem;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.438rem;
    padding: 4px;
    align-items: center;
}

nav h1,
.footer-section h1 {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: bold;
    line-height: 120%;
}

#home {
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
    width: 92px;
    height: 38px;
}

.nav-ul a {
    color: var(--heading-color);
    font-size: 18px;
    text-align: right;
    text-decoration: none;
    text-align: center;
}

.header {
    margin-top: 32px;
    display: flex;
    gap: 10.438rem;
    align-items: center;
    justify-content: center;
}

.header-text {
    width: 32.5rem;
}

.header-text h1 {
    color: var(--heading-color);
    font-size: 4.375rem;
    font-weight: bolder;
    margin-bottom: 1.75rem;
}

.header-text h1 span {
    font-family: 'miama', sans-serif;
}

.header-text p {
    color: var(--paragraph-color);
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    margin-bottom: 1.75rem;
}

.header-button {
    display: flex;
    align-items: center;
    gap: 14px;
}

#button {
    border: 1px solid rgb(255, 255, 255);
    background: transparent;
}

.header-img {
    position: relative;
}

.img-card-1 {
    position: absolute;
    border: 1px solid var(--paragraph-color);
    background: rgba(255, 255, 255, 0.322);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    padding: 17px;
    width: 12.063rem;
    height: 6.125rem;
    top: 7.813rem;
    left: 14.375rem;
}

.img-card-1 h3 {
    color: var(--heading-color);
    font-size: 2.5rem;
    font-weight: bolder;
    line-height: 2.5rem;
    letter-spacing: 1px;
}

.img-card-1 p,
.img-card-2 #text p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.813rem;
    line-height: 1.25rem;
    letter-spacing: 1px;
}

.img-card-2 {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    bottom: 3.938rem;
    left: -7.063rem;

    position: absolute;
    border: 1px solid var(--paragraph-color);
    background: rgba(255, 255, 255, 0.322);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    padding: 17px;
    width: 12.063rem;
    height: 6.125rem;
}

#circle {
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
}

.img-card-2 .img {
    display: none;
}

.img-card-2 #text h3 {
    color: var(--heading-color);
    font-size: 1.5rem;
    font-weight: bolder;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
}

/* Change Your Habits start hear */
main {
    background-color: black;
}

.habit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 6.25rem;
}

.habit-container h2,
.run-text h2,
.our-term h2 {
    color: var(--heading-color);
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 14px;
}

.habit-container p,
.run-text p,
.our-term p,
.footer-section p {
    color: var(--paragraph-color);
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    text-align: center;
    margin-bottom: 3.625rem;
}

.habit-card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5rem;
}

.habit-card .card img {
    border-radius: 50%;
    margin-bottom: 26px;
}

.habit-card .card h4 {
    color: var(--heading-color);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 6px;
}

/* run extra section start hear */
.run-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.run-container {
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 30px;
}

.run-text h2,
.run-text p,
.footer-section p {
    text-align: left;
}

.run-text button {
    margin-top: -50px;
}

.run-img {
    width: 366px;
    height: 312px;
}

.run-img img {
    height: 100%;
    width: 100%;
    border-radius: 18px;
    align-items: center;
}

/* Meet our term start hear */
.our-term {
    margin-top: 5.5rem;

}

.photo-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto;
    gap: 20px;

    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.photo {
    position: relative;
}

.photo-card {
    position: absolute;
    bottom: -10%;
    left: 5%;
}

.photo-card h4 {
    color: var(--heading-color);
    font-size: 1rem;
    text-align: left;
}

.photo-card p {
    color: var(--paragraph-color);
    text-align: left;
}

/* footer section start hear */
footer {
    height: 30.563rem;
    margin: 0 auto;
    background: rgb(37, 36, 36);
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-top: 4.125rem;
}

.footer-section h1 {
    margin-bottom: 1.25rem;
}

.footer-section-1 h4 {
    color: var(--heading-color);
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 2.438rem;
}

.footer-p p {
    color: var(--paragraph-color);
    font-size: 23px;
    margin-bottom: 1.25rem;
}
.footer-p p a{
    color: var(--paragraph-color);
    text-decoration: none;
}

#hr {
    width: 80%;
    margin: 0 auto;
}

.copy p {
    color: var(--paragraph-color);
    font-size: 20px;
    letter-spacing: 0.3px;
    line-height: 24px;
    text-align: center;
    padding-top: 36px;
    padding-bottom: 36px;
}
.copy a {
    color: var(--paragraph-color);
    font-size: 20px;
    letter-spacing: 0.3px;
    line-height: 24px;
    text-align: center;
    padding-top: 36px;
    text-decoration: none;
}