@media screen and (max-width: 576px) {

    body,
    nav,
    .header-text {
        width: 100%;
    }

    .none {
        display: none;
    }

    button {
        padding: 10px 20px 10px 20px;
    }

    header {
        height: auto;
    }

    .header-text,
    nav {
        padding: 10px;
    }

    #bar {
        display: block;
    }

    .nav-ul .text {
        display: none;
    }

    .header {
        flex-direction: column;
    }

    .header-text h1 {
        font-size: 4rem;
    }

    .img-card-1 {
        width: 9.119rem;
        top: 2.975rem;
        left: 55%;
    }

    .img-card-1 h3 {
        font-size: 1.875rem;
    }

    .img-card-1 p,
    .img-card-2 #text p {
        font-size: 9.8px;
    }

    .img-card-2 {
        left: 0;
        width: 9.119rem;
    }

    .img-card-2 .img {
        display: block;
    }

    .img-card-2 h3 {
        font-size: 1.125rem;
    }

    /* Change Your Habits start hear */
    .habit-container {
        padding-top: 0;
    }

    .habit-card {
        flex-direction: column;
    }

    /* run extra section start hear */
    .run-container {
        flex-direction: column;
        gap: 1.938rem;
    }

    .run-text h2 {
        font-size: 2rem;
    }

    .run-text button {
        width: 100%;
    }

    .run-img {
        width: 100%;
        height: 100%;
    }

    /* Meet our term start hear */
    .photo-gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    /* footer section start hear */
    footer{
        height: 100%;
    }
    .footer-container{
        flex-direction: column;
    }
    .footer-section-1{
        align-items: start;
        justify-content: flex-start;
        margin-right: auto;
    }
}